################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmailAPI/.vs/EmailAPI
/EmailAPI/bin
/EmailAPI/obj
/EmailAPI/.vs/ProjectEvaluation
/EmailAPI/Properties/PublishProfiles
/EmailAPI/Properties/ServiceDependencies/pontual-saraf-email-api - Web Deploy/profile.arm.json
